@import "./base.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
#foodChoicesLayout{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5vw ;

    #foodChoices{
        font-family: $font-family-primary;
        color: $color-black;
        font-weight: 700;
        text-align: center;
        height: 5vw;
        width: auto;
        margin: 2vw;
    
        #displayPrices{
            display: flex;
            flex-direction: column;
            margin: 7vw;
        }
    }
}
